body {
  background: black;
  color: #eee;
}
#game {
  width: 782px;
  height: 587px;
  background: url('../img/bg.jpg');
  margin: 10px auto;
  text-align: center;
  position: relative;
  display: none;
}
#instructions, #how-to-play {
  position: absolute;
  width: 119px;
  height: 278px;
  padding: 10px 10px 30px;
  top: 92px;
  overflow: hidden;
}
#instructions {
  left: 25px;
}
#how-to-play {
  left: 618px;
}
#winning-screen {
  position: absolute;
  width: 782px;
  height: 587px;
  z-index: 0;
  text-decoration: italic;
  display: none;
  background: black;
  background: rgba(0, 0, 0, 0.8);
}
#winning-screen a img {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 123px;
  left: 185px;
  display: block;
  -moz-box-shadow: 0 0 100px black, 0 0 100px black, 0 0 100px black;
  -webkit-box-shadow: 0 0 100px black, 0 0 100px black, 0 0 100px black;
  box-shadow: 0 0 100px black, 0 0 100px black, 0 0 100px black;
  border: 1px solid black;
}
#grid {
  display: block;
  position: absolute;
  top: 122px;
  left: 196px;
  width: 390px;
}
#grid .slot {
  display: block;
  float: left;
  position: relative;
  background: url('../img/slot.png');
  width: 39px;
  max-width: 39px;
  height: 39px;
  max-height: 39px;
  color: white;
  text-align: center;
  font-family: impact, arial, sans-serif;
  font-size: 20px;
  margin: 0;
  z-index: 1;
  overflow: hidden;
  border: none;
}
#grid.active .slot:hover {
  background-position: 0 -39px;
  z-index: 2 !important;
}
.slot span {
  position: absolute;
  height: 26px;
  width: 26px;
  top: 1px;
  left: 1px;
  border: 5px solid #222;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border-color: rgba(34, 34, 34, 0);
}
.slot.spot{
  color: #efef89 !important;
}
.slot .spot {
  border-color: white;
}
.slot.good-answer {
  color: #0F0 !important;
}
.slot.bad-answer {
  color: #F00 !important;
}
.slot.good-answer .spot {
  border-color: #0F0 !important;
}
.slot.bad-answer .spot {
  border-color: #F00 !important;
  content: "X";
}
#play-button {
  border: none;
  background: url('../img/play.png');
  height: 94px;
  width:  214px;
  text-indent: -9999px;
  cursor: default;
  position: absolute;
  top: 452px;
  left: 282px;
}
#play-button.active {
  background-position: 0 -94px;
  cursor: pointer !important;
}
#play-button.active:hover {
  background-position: 0 -188px;
}